[submodule "isLocked"]
	path = isLocked
	url = https://github.com/xzx482/isLocked.git
[submodule "toast"]
	path = toast
	url = https://github.com/xzx482/toast.git
[submodule "扩展/公交和班车/bc"]
	path = 扩展/公交和班车/bc
	url = git@github.com:xzx482/bc.git